{% include base_path %}

<!-- start custom head snippets -->

<link rel="icon" href="{{ '/images/favicon.svg' | relative_url }}" type="image/svg+xml">
<meta name="theme-color" content="#7a3158">
<link rel="stylesheet" href="{{ '/assets/css/academicons.css' | relative_url }}">

<script type="text/x-mathjax-config"> MathJax.Hub.Config({ TeX: { equationNumbers: { autoNumber: "all" } } }); </script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
    }
  });
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML' async></script>

<!-- end custom head snippets -->
